.WritingWorksheet-container {
  width: 800px;
  margin: 0 auto;
}

.WritingWorksheet-line {
  text-align: left;
  font-size: 36px;
}

.WritingWorksheet-word {
  padding-left: 10px;
}

.WritingWorksheet-word-light {
  padding-left: 10px;
  color: #eee;
}
