.Flashcard {
  height: 80px;
  width: 160px;
  border: solid 4px skyblue;
  border-radius: 4px;
  margin: 2px;
}

.Flashcard-faceDown {
  background: skyblue;
}

.Flashcard-matched {
  border-color: lightgreen;
}

.Flashcard-content {
  max-width: 160px;
  max-height: 60px;
  margin: 0 auto;
  font-size: 18px;
}

.Flashcard-content img {
  height: 60px;
  width: 60px;
  margin: 10px 0;
}

.Flashcard-content-text {
  margin-top: 28px;
}

@media (max-width: 600px) {
  .Flashcard {
    height: 60px;
    width: 100px;
  }

  .Flashcard-content img {
    height: 50px;
    width: 50px;
    margin: 5px 0;
  }

  .Flashcard-content p {
    margin-top: 18px;
  }
}
