.Flashcard {
  display: flex;
  height: 80px;
  width: 160px;
  border: solid 4px skyblue;
  border-radius: 4px;
  margin: 2px;
  justify-content: space-around;
  align-items: center;
}

.Flashcard-faceDown {
  background: skyblue;
}

.Flashcard-matched {
  border-color: lightgreen;
}

.Flashcard-text {
  font-size: 20px;
}

.Flashcard img {
  height: 85%;
}

/* M o b i l e */
@media (max-width: 600px) {
  .Flashcard {
    height: 60px;
    width: 100px;
  }

  .Flashcard-text {
    font-size: 14px;
  }
}
