.QuizButton {
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  display: block;
  cursor: pointer;
  width: 150px;
  padding: 10px;
  margin: 4px;
  color: #000;
  background: #fff;
  border: solid 4px #bdddf4;
  border-radius: 5px;
}

.QuizButton:hover {
  background: #eef6fc;
}

.QuizButton-correct,
.QuizButton-correct:hover {
  background-color: #a6d388;
}

.QuizButton-incorrect,
.QuizButton-incorrect:hover {
  background-color: #ea596e;
}
