.AnimatedBackground-sun {
  width: 10%;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 1;
}

.AnimatedBackground-cloud {
  position: fixed;
  z-index: 1;
  animation: slide 300s linear infinite;
}

.AnimatedBackground-cloud-1 {
  width: 10%;
  top: 10%;
  right: 10%;
}

.AnimatedBackground-cloud-2 {
  width: 12%;
  top: 20%;
  left: 15%;
}

.AnimatedBackground-cloud-3 {
  width: 15%;
  top: 40%;
  left: 50%;
}

.AnimatedBackground-cloud-4 {
  width: 11%;
  top: 30%;
  right: -20%;
}

@-webkit-keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1000px);
  }
}
