.AppHeader {
  display: flex;
  justify-content: space-between;
}

.AppHeader-col {
  width: 33.33%;
}

.AppHeader-home-icon {
  width: 35px;
  height: 35px;
  float: left;
  margin: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.AppHeader-home-icon:hover {
  transform: scale(1.1);
}
