.AppHeader {
  display: flex;
  justify-content: space-between;
}

.AppHeader-col {
  width: 33.33%;
}

.AppHeader-home-icon {
  width: 35px;
  height: 35px;
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  cursor: pointer;
}
