.AppMain-wrapper {
  max-width: 580px;
  margin: 0 auto;
}

.AppMain {
  position: relative;
  background-color: #fff;
  max-width: 580px;
  margin: 0 5px;
  border-radius: 5px;
  padding: 10px;
  z-index: 2;
}

.AppMain-print {
  max-width: none;
}
