.quiz-image {
  width: 160px;
  height: 160px;
  margin: 10px auto;
}

.quiz-answer {
  height: 15px;
}

.quiz-button {
  font-size: 16px;
  font-weight: bold;
  display: block;
  cursor: pointer;
  width: 150px;
  padding: 10px;
  margin: 4px auto;
  color: #000;
  background: #fff;
  border: solid 4px #bdddf4;
  border-radius: 5px;
}
